In [3]:
#Temel Veri Tipleri
print("Integer (int) : ",type(15))
print("Float (float): ",type(1.5))
print("String (str): ",type("1"))
print("Boolean(bool):",type(True))

Integer (int) :  <class 'int'>
Float (float):  <class 'float'>
String (str):  <class 'str'>
Boolean(bool): <class 'bool'>

In [4]:
2 * 3

6

In [8]:
#"2" *"3" # hata verir

In [9]:
"2" + "3"

'23'

In [10]:
"2" * 3

'222'

In [12]:
a= 2 + 3

In [13]:
a

5

Listeler (Lists)

In [11]:
example_List = [1,[2,3,4],3,4,5,6,7,8]

In [14]:
print(example_List)

[1, [2, 3, 4], 3, 4, 5, 6, 7, 8]

In [16]:
type(example_List)

list

In [17]:
len(example_List) #len fonksiyonu kaç eleman olduğu

8

In [18]:
print(example_List[1])

[2, 3, 4]

In [20]:
print(example_List[2]) #Pythonda liste yapıları 0'dan başlar

3

Slicing Yapısı 
değişken_simi=[başla:bitiş:atlama-sayısı]

In [21]:
print(example_List[1:4])

[[2, 3, 4], 3, 4]

In [24]:
print(example_List[-2:]) #sondan iki eleman

[7, 8]

In [25]:
print(example_List[-1])

8

In [26]:
example_List[0] = "Different Now" #listeye değer atama

In [27]:
example_List

['Different Now', [2, 3, 4], 3, 4, 5, 6, 7, 8]

In [28]:
example_List.append(2) #listeye ekleme yapma

In [29]:
example_List.insert(1,"New data") #1.indexe ekle

In [30]:
example_List

['Different Now', 'New data', [2, 3, 4], 3, 4, 5, 6, 7, 8, 2]

In [33]:
example_List.remove(4) #listeden 4 elemanını çıkarır.
print(example_List)

['Different Now', 'New data', [2, 3, 4], 3, 5, 6, 7, 8]

Sözlükler (Dictionaries)  : Key - value şeklinde anahtar değer şeklinde

In [35]:
new_dictionary = {"key_for_this_thing":8}

In [36]:
print(new_dictionary['key_for_this_thing'])

8

In [37]:
new_dictionary = {'key_for_a_list': [0,1,2,3,4],'key_for_another_dictionary': {'bob':1}}

In [38]:
print(new_dictionary['key_for_another_dictionary'])

{'bob': 1}

In [39]:
print(new_dictionary['key_for_another_dictionary']['bob'])

1

In [40]:
career_stats ={'babe_ruth': {1914:["Red sox",5,10,0],1915:["Red sox",43,104,4]} ,
               'gavy_cravath':{1914: ['Phillies',149,604,14]}
               }

In [41]:
print(career_stats['babe_ruth'])

{1914: ['Red sox', 5, 10, 0], 1915: ['Red sox', 43, 104, 4]}

In [42]:
print(career_stats['babe_ruth'][1914])

['Red sox', 5, 10, 0]

In [44]:
#ek olarak sadece key ve value değerlerine de ulaşılır.
print(career_stats.keys())
print(career_stats.values())

dict_keys(['babe_ruth', 'gavy_cravath'])
dict_values([{1914: ['Red sox', 5, 10, 0], 1915: ['Red sox', 43, 104, 4]}, {1914: ['Phillies', 149, 604, 14]}])

Değişken İsimleri   bazı örnekler

In [45]:
customer_Orde=1
customerOrders=50
customerSaleas="adss"

Koşullu İfadeler (İf / Elif / Else)

In [1]:
if 3 > 4:
    print("3 is bigger")
print("3 is not bigger")

3 is not bigger

In [2]:
number = 10
if number < 5:
    print(number, 'is smaller than 5')
if number < 12:
    print(number, 'is smaller than 12')
if number < 25:
    print(number, 'is smaller than 25')

10 is smaller than 12
10 is smaller than 25

In [3]:
number = 10
if number < 5:
    print(number, 'is smaller than 5')
elif number < 12:
    print(number, 'is smaller than 12')
elif number < 25:
    print(number, 'is smaller than 25')

10 is smaller than 12

In [4]:
# 2'den fazla koşul belirtmek de mümkündür
a = 30
b = 20 
c = 10
if a < b or b > c:
    print("a is bigger than b AND b is bigger than c")
elif a < b or b < c:
    print("a is smaller than b AND b is smaller than c")
else:
    print("These conditions did not hold")

a is bigger than b AND b is bigger than c

In [5]:
number_list = [10,20,30,40,50]
if 60 in number_list:
    print("Yes!")

Döngüler (For / While)

In [6]:
for number in number_list:
    new_number = number * 5 / 3
    print(new_number)

16.666666666666668
33.333333333333336
50.0
66.66666666666667
83.33333333333333

In [7]:
x = 0
while x < 10:
    print(x)
    x += 1

0
1
2
3
4
5
6
7
8
9

Fonksiyonlar

In [8]:
table1 = [['Sam', 36, 85.95],
 ['Carol', 75, 53.65],
 ['Sam', 90, 95.37],
 ['Doug', 61, 19.8],
 ['Sam', 41, 45.22],
 ['Doug', 29, 42.98],
 ['Oliver', 61, 95.74],
 ['Carol', 32, 17.12],
 ['Tari', 27, 68.83],
 ['Tari', 81, 62.47]]

name_counter = {}
for row in table1:
    name = row[0]
    if name in name_counter.keys():
        name_counter[name] += 1
    else:
        name_counter[name] = 1
print(name_counter)

{'Sam': 3, 'Carol': 2, 'Doug': 2, 'Oliver': 1, 'Tari': 2}

In [10]:
def count_names_in_tables(table_to_count):
    """
    İlk sütunu kullanıcının adından oluşacak şekilde, bir tablo verisi alır
    ve her bir kullanıcının tabloda kaç defa geçtiğini bulur.
    ---
    Girdi: Tablo (bir çok listeden oluşan bir liste)
    Çıktı: Sözlük (İsimler key değerleri, kaç defa geçtikleri value değerleri)
    """
    name_counter = {}
    for row in table_to_count:
        name = row[0]
        if name in name_counter.keys():
            name_counter[name] += 1
        else:
            name_counter[name] = 1
    return name_counter

In [11]:
print(count_names_in_tables(table1))

{'Sam': 3, 'Carol': 2, 'Doug': 2, 'Oliver': 1, 'Tari': 2}

In [12]:
table2 = [['Oliver', 12, 49.95],
 ['Tari', 76, 30.71],
 ['Carol', 98, 25.07],
 ['Carol', 24, 11.85],
 ['Carol', 34, 13.36],
 ['Kelly', 14, 34.31],
 ['Tari', 6, 86.11],
 ['Tari', 90, 29.08],
 ['Carol', 55, 45.61],
 ['Sam', 88, 97.47]]

print(count_names_in_tables(table2))

{'Oliver': 1, 'Tari': 3, 'Carol': 4, 'Kelly': 1, 'Sam': 1}

Belge Dizini Yapıları

In [13]:
def multiply_by_two(number):
    """
    Bu fonksiyon girdi olarak girilen değeri 2'yle çarpar
    ---
    Girdi: Sayısal
    Çıktı: Sayısal
    """
    return 2*number

In [14]:
multiply_by_two(4)

8

In [15]:
multiply_by_two("4")

'44'

In [16]:
for ix, row in enumerate(table1):
    print(ix, row, table1[ix])

0 ['Sam', 36, 85.95] ['Sam', 36, 85.95]
1 ['Carol', 75, 53.65] ['Carol', 75, 53.65]
2 ['Sam', 90, 95.37] ['Sam', 90, 95.37]
3 ['Doug', 61, 19.8] ['Doug', 61, 19.8]
4 ['Sam', 41, 45.22] ['Sam', 41, 45.22]
5 ['Doug', 29, 42.98] ['Doug', 29, 42.98]
6 ['Oliver', 61, 95.74] ['Oliver', 61, 95.74]
7 ['Carol', 32, 17.12] ['Carol', 32, 17.12]
8 ['Tari', 27, 68.83] ['Tari', 27, 68.83]
9 ['Tari', 81, 62.47] ['Tari', 81, 62.47]

In [17]:
a_list_of_numbers = [1,2,3,4,5,7]

new_list_of_numbers = [x + 1 for x in a_list_of_numbers if x > 2]
print(new_list_of_numbers)

[4, 5, 6, 8]

In [18]:
new_list = []
for number in a_list_of_numbers:
    if number > 2:
        new_list.append(number + 1)

In [20]:
new_list

[4, 5, 6, 8]

Lambda Fonksiyonu ve Sıralama İşlemleri

In [21]:
# Sütunlar = (İsim, Yaş, Maaş)
alumni = [('bob',32,72000),
          ('alice',29,115000),
          ('charlie',25,95000)]

print(sorted(alumni)) # Sıralama işlemleri için kullanılan fonksiyon
print(alumni)

[('alice', 29, 115000), ('bob', 32, 72000), ('charlie', 25, 95000)]
[('bob', 32, 72000), ('alice', 29, 115000), ('charlie', 25, 95000)]

In [22]:
alumni.sort() # sort fonksiyonu sıralamayı orijinal veri üzerinde gerçekleştirdi
print(alumni)

[('alice', 29, 115000), ('bob', 32, 72000), ('charlie', 25, 95000)]

In [23]:
print(sorted(alumni, reverse=True))

[('charlie', 25, 95000), ('bob', 32, 72000), ('alice', 29, 115000)]

In [24]:
print(sorted(alumni, key=lambda row: row[2]))

[('bob', 32, 72000), ('charlie', 25, 95000), ('alice', 29, 115000)]

In [25]:
alumni.sort(key=lambda row: row[2], reverse=True)
alumni

[('alice', 29, 115000), ('charlie', 25, 95000), ('bob', 32, 72000)]

In [26]:
def get_second_column_of_row(row):
    """
    Satırda bulunan 2. indexe ait değerleri döndürür.
    """
    return row[2]

print(sorted(alumni, key=get_second_column_of_row))

[('bob', 32, 72000), ('charlie', 25, 95000), ('alice', 29, 115000)]

Hata Mesajları

In [27]:
class_list = [1,2,3]
if len(class_list) % 2 != 0:
    raise ValueError("List should have an even number of elements!") # Tanımladığımız hata mesajı

ValueError: List should have an even number of elements!

In [32]:
def sum_up_a_list(list_to_sum):
    """
    Girdi olarak bir sayı listesi alır ve liste
    içerisindeki sayıların toplamını hesaplar.
    """
    # Girdi olarak verilen değerler list yapısında olsun istiyorum
    assert type(list_to_sum) == list, "Input must be a list!"
    return sum(list_to_sum)

print(sum_up_a_list(3))

AssertionError: Input must be a list!

In [33]:
print(sum_up_a_list([1,2,3]))

6

Try -Except

In [34]:
x = "1" # 1 sayısının string versiyonu, bununla matematiksel işlemler gerçekleştirilemez

try:
    print("Trying to divide")
    print(x/2)
    print("This won't happen because of the error")
    
except:
    print("\nOops, forgot to make it a number")
    print(int(x)/2)

Trying to divide

Oops, forgot to make it a number
0.5

In [35]:
del x # del fonksiyonu tanımladığımız değişkeni tamamen silmemizi sağlar

try:
    str(x)
except:
    print("¯\_(ツ)_/¯")

¯\_(ツ)_/¯

Referans Değerler vs Gerçek Değerler

In [36]:
a = [1,2,3]
b = a
b.append(4)
print(a)
print(b)

[1, 2, 3, 4]
[1, 2, 3, 4]

In [37]:
a = [1,2,3]
b = a.copy()
b.append(4)

print(a)
print(b)

[1, 2, 3]
[1, 2, 3, 4]